$mdc-theme-primary: #1de9b6;
$mdc-theme-secondary: #ff1744;
$mdc-theme-background: #263238;
$mdc-theme-surface: #455a64;
$mdc-theme-on-primary: #263238;
$mdc-theme-on-secondary: #263238;
$mdc-theme-on-surface: #f5f5f5;

